body {
    background-color: burlywood;
    background: url("https://images.unsplash.com/photo-1619810816144-68dbc1f695e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    opacity: 0.8;
}

div {
    background-color: white;
    opacity: 1;
    padding:100px;
    max-width:1000px;
    margin:100px auto;
    border-radius: 10px;
}
p, li {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 56px;
    margin-top:10px;
}
li {
    list-style: none;
}
