h3 {
    font-family: Helvetica;
    text-align: center;
}
h2 {
    font-family: Helvetica;
    text-align: center;
}
h1 {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: lightgreen;
}
p {
    text-align: center;
}
div {
    font-family: Helvetica;
    text-align: left;
    list-style-type: none;
}
