{% extends "base.html" %}
{% block main_content %}
    {% for k,v in movie.items() %}
        {% if k == "Response" %}
        {% elif k == "Poster" %}
            <img src="{{v}}"></img>
        {% elif k == "Ratings" %}
            <p>{{k}}</p>
            {% for rating in v %}
                <p>Source: {{ rating["Source"] }}</p>
                <p>Value: {{ rating["Value"] }}</p>
            {% endfor %}
        {% else %}
            <p><em>{{k}}:</em><p>
            <p>{{v}}<p>
        {% endif %}
    {% endfor %}
{% endblock %}