body {
  background-color: #f2f4f3;
  text-align: center;
}

h1 {
  font-family: "Climate Crisis", cursive;
  color: #dd1c1a !important;
  margin-top: 25px !important;
  margin-bottom: 75px !important;
}

li,
p,
h2 {
  font-family: "Tilt Neon", cursive;
  color: #086788;
}
#burger-icon {
  height: 190px;
  width: auto;
  display: block;
  margin: 0 auto !important;
}

button:hover {
  filter: blur(0.4px) !important;
}
