header {
    background-color: rgb(77, 99, 117);
}
h1 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    font-size: 45px;
}
body {
    background-color: steelblue;
}
table {
    width: 100%;
}
th {
    border: 5px solid;
    padding: 20px;
    color: blue;
    background-color: azure;
  }
div {
    color: blue;
    font-weight: bold;
    padding: 20px;
    border: 5px solid;
    background-color: azure;
    text-align: center;
}